.flipCard {
  position: relative;
}

.cardImage {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
}

.front-title,
.back-title {
  width: 100%;
  background-color: burlywood;
  font-size: 28px;
  font-family: sans-serif;
  padding: 20px;
}

.back-title {
  position: absolute;
  bottom: 0;
}